.box {
    background-color: #016DFA;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
}

.lime{
    background-color: #00e165;
}

.margin-top{
    margin-top: 20px;
}

.color-transparent{
    color: transparent;
}